<div id="guests-new-container">
    <h1>RSVP</h1>

    <%= form_for @guest do |f| %>

    <%= f.label :name, "Name(s)" %>
        <%= f.text_field :name %>

    <%= f.label :attending, "Ceremony and Reception" %>
        <%= f.select :attending, [['Yes', true], ['No', false]] %>

    <%= f.submit "Send" %>

    <% end %>
</div>